* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-link {
  color: white;
}
.nav-link:active,
.nav-link:focus {
  color: #fbc41f;
}
.nav-item {
  margin: 5px;
  font-size: 20px;
  font-weight: 400;
}
.nav-item a:hover {
  color: #fbc41f;
  transition: all 0.3s ease;
}
.nav-item a:active {
  color: #fbc41f;
}
.nav-pills {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-nav {
  background-color: #231f1e;
}
