.home_products {
  background-color: #f9f8f4;
}

.home-product-1,
.home-product-2,
.home-product-3 {
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 168.312px;
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

/* .home-product-1:hover::before,
.home-product-2:hover::before,
.home-product-3:hover::before {
  background-color: rgba(0, 0, 0, 0.37);
  content: "";
  position: absolute;
  width: 100%;
  display: block;
  height: 100%;
  cursor: pointer;
  transition: all 0.5s ease;
} */

.home-product--link {
  color: white;
}
.home-product--link:hover {
  color: rgb(251, 196, 31);
  transition: all 0.5s ease;
}
.home-product-1 > h4,
.home-product-2 > h4,
.home-product-3 > h4 {
  font-family: "Sansita", sans-serif;
  font-style: italic;
  letter-spacing: 2px;
}
.home-product-1 {
  background-image: url(https://beelove.ancorathemes.com/wp-content/uploads/2016/06/banner1.jpg);
}
.home-product-2 {
  background-image: url("https://beelove.ancorathemes.com/wp-content/uploads/2016/06/banner2.jpg");
}
.home-product-3 {
  background-image: url("https://beelove.ancorathemes.com/wp-content/uploads/2016/06/banner3.jpg");
}

.home_action {
  padding: 50px 0 50px 0;
}

.home_action--title {
  color: #f8b742;
  font-weight: 700;
  font-family: "Sansita", sans-serif;
  font-style: italic;
  font-size: 40px;
}

.home-action__wrapper a {
  font-size: 20px;
  color: #6f503c;
}
.home-action__wrapper a:hover {
  color: #f8b742;
  transition: all 0.5s ease;
}
.home-action__wrapper p {
  color: #6f503c;
}
.home_honey {
  background-image: url(https://beelove.ancorathemes.com/wp-content/uploads/2016/06/Parallax_1-1.jpg);
  background-size: cover;
  padding: 50px 0 100px 0;
}

.home_honey-title {
  color: #fff;
  text-align: center;
  padding-top: 80px;
  font-size: 37px;
  font-family: "sansita one", cursive;
  line-height: 1.01em;
  padding-bottom: 20px;
  font-weight: 900;
}
.home_honey-subtitle {
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-family: arimo, sans-serif;
  line-height: 1.5em;
  font-weight: 700;
}
.home_link {
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 100px;
  width: 200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
.home_link:hover {
  border: 2px solid #f8b742;
  background-color: #f8b742;
  transition: all 0.5s ease;
}

.home-blog {
  margin-top: 50px;
  margin-bottom: 50px;
}
.home-blog_title {
  margin-bottom: 40px;
  font-size: 40px;
  font-family: sansita one, cursive;
  font-weight: 900;
  line-height: 1em;
  letter-spacing: 2px;
  color: #f8b742;
  font-style: italic;
}

.home-blog-item span {
  color: #8c7363;
  margin-top: 15px;
}

.home-blog-item a {
  color: #6f503c;
  font-size: 16px;
  font-weight: bold;
  padding: 0 20px;
  margin-top: 15px;
}

.home-blog-item a:hover {
  color: #f8b742;
  transition: all 0.5s ease;
}

/* client */
.home-client {
  background-image: url(https://cdn.shopify.com/s/files/1/0436/2203/9703/files/blog_detail-5.jpg?v=1598510656);
  background-size: cover;
  background-position: center;
}
.home__client-text {
  font-family: sansita one, cursive;
}

.home-client h4 {
  color: #6f503c;
}

/* Contact us */

.home__contact {
  background-image: url(https://media.istockphoto.com/photos/bee-picture-id165830369?b=1&k=20&m=165830369&s=170667a&w=0&h=8rkciZZhCqpVJ1_xoEHwSHQfZRA4JT60eRzDePyZAM4=);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home__contact--wrapper h4 {
  font-style: italic;
  font-family: sansita one, cursive;
}
.home__contact--wrapper h2 {
  font-family: sans-serif;
  line-height: 1.2;
  font-weight: 700;
  margin-top: 20px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.home__contact--wrapper p {
  max-width: 900px;
  margin: auto;
}

.home__contact--link {
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 100px;
  width: 200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  font-weight: 400;
  font-size: 16px;
  color: white;
}
.home__contact--link:hover {
  border: 2px solid #f8b742;
  background-color: #f8b742;
  transition: all 0.5s ease;
  color: white;
}
